<li>{{copy_sym}} {{copy_text1}}</li>
<li>{{copy_text2}} <a href="{{html5_up}}">{{html5_up_text}}</a></li>
<li>{{copy_text3}} <a href="{{copy_url}}"> Unsplash</a></li>

<!-- <ul class="copyright">
  <li>&copy; Untitled. All rights reserved</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
</ul> -->
