<div id="wrapper">
  <!-- Header -->
    <header id="header">
      <div class="inner">

        <!-- Logo -->
          <a href="{{logo_link}}" class="logo">
            <span class="symbol"><img src="{{logo_img}}" alt="{{img_alt}}" /></span>
             <span class="title">{{logo_header}}</span>
              </a>

        <!-- Nav -->
          <nav>
            <ul>
              <li><a href="{{hamburger}}">{{hamburger_text}}</a></li>
            </ul>
          </nav>
      </div>
  </header>

  <!-- Menu -->
  <nav id="menu">
    <div class="inner">
  		<h2>{{menu_subhead}}</h2>
  						<ul>
  							<li><a href="{{menu_link}}">{{menu_text}}</a></li>
  							<li><a href="{{menu_link}}">{{menu_text}}</a></li>
  							<li><a href="{{menu_link}}">{{menu_text}}</a></li>
  							<li><a href="{{menu_link}}">{{menu_text}}</a></li>
  							<li><a href="{{menu_link}}">{{menu_text}}</a></li>
  						</ul>
  					</div>
            <a class="close" href="{{hamburger}}">{{hamburger_close}}</a></nav>
<!-- menu END-->

<!--main -->
<div id="main">
  <div class="inner">
    <header>
      <h1>{{main_header1}}<br />
      {{main_header2}} <a href="{{html5_up}}">{{html5_up_text}}</a>{{main_desc_end}}</h1>
      <p>{{main_desc}}</p>
    </header>
</div> <!-- /#main-->
</div>  <!-- /.inner-->
</div><!--/#wrapper-->
