

  <!-- Menu -->
  <nav id="menu">
    <div class="inner">
  		<h2>{{menu_subhead}}</h2>
  						<ul>
  							<li><a href="{{menu_link}}">{{menu_text}}</a></li>
  							<li><a href="{{menu_link}}">{{menu_text}}</a></li>
  							<li><a href="{{menu_link}}">{{menu_text}}</a></li>
  							<li><a href="{{menu_link}}">{{menu_text}}</a></li>
  							<li><a href="{{menu_link}}">{{menu_text}}</a></li>
  						</ul>
  					</div>
            <a class="close" href="{{hamburger}}">Close</a></nav>
<!-- menu END-->
