<!-- Menu -->


  <li><a href="{{hamburger_link1}}">{{hamburger_text1}}</a></li>
    <li><a href="{{hamburger_link2}}">{{hamburger_text2}}</a></li>
      <li><a href="{{hamburger_link3}}">{{hamburger_text3}}</a></li>
         <li><a href="{{hamburger_link4}}">{{hamburger_text4}}</a></li>
           <li><a href="{{hamburger_link5}}">{{hamburger_text5}}</a></li>









<!-- menu END-->

<!-- <nav id="menu"><div class="inner">
						<h2>Menu</h2>
						<ul>
							<li><a href="index.html">Home</a></li>
							<li><a href="generic.html">Ipsum veroeros</a></li>
							<li><a href="generic.html">Tempus etiam</a></li>
							<li><a href="generic.html">Consequat dolor</a></li>
							<li><a href="elements.html">Elements</a></li>
						</ul>
					</div><a class="close" href="#menu">Close</a></nav> -->
