<!-- Footer -->


<!--Social media icons-->

    <section>
      <h2>{{footer_subhead2}}</h2>
      <ul class="icons">
        <li><a href="{{dummy_link}}" class="icon style2 fa-twitter"><span class="icons_label">{{icons_text}}</span></a></li>
        <li><a href="{{dummy_link}}" class="icon style2 fa-facebook"><span class="icons_label">{{icons_text}}</span></a></li>
        <li><a href="{{dummy_link}}" class="icon style2 fa-instagram"><span class="icons_label">{{icons_text}}</span></a></li>
        <li><a href="{{dummy_link}}" class="icon style2 fa-dribbble"><span class="icons_label">{{icons_text}}</span></a></li>
        <li><a href="{{dummy_link}}" class="icon style2 fa-github"><span class="icons_label">{{icons_text}}</span></a></li>
        <li><a href="{{dummy_link}}" class="icon style2 fa-500px"><span class="icons_label">{{icons_text}}</span></a></li>
        <li><a href="{{dummy_link}}" class="icon style2 fa-phone"><span class="icons_label">{{icons_text}}</span></a></li>
        <li><a href="{{dummy_link}}" class="icon style2 fa-envelope-o"><span class="icons_label">{{icons_text}}</span></a></li>
      </ul>
     </section>
